<h1><%= @guesthouse.trading_name %></h1>

<% if owner_signed_in? && current_owner == @guesthouse.owner %>
  <div class="owner-actions">
    <%= link_to 'Editar', edit_guesthouse_path(@guesthouse), class: 'button' %>
    <%= link_to 'Adicionar Quarto', new_guesthouse_room_path(@guesthouse), class: 'button' %>
    <% if @guesthouse.active? %>
      <%= button_to 'Desativar Pousada', deactivated_guesthouse_path(@guesthouse), class: 'button' %>
    <% else %>
      <%= button_to 'Ativar Pousada', activated_guesthouse_path(@guesthouse), class: 'button' %>
    <% end %>
  </div>
<% end %>

<dl>
  <dt><%= Guesthouse.human_attribute_name :description %>:</dt>
  <dd><%= @guesthouse.description %></dd>
  <dt><%= Guesthouse.human_attribute_name :payment_methods %>:</dt>
  <dd><%= @guesthouse.payment_methods %></dd>
  <dt><%= Guesthouse.human_attribute_name :allow_pets %></dt>
  <dd><%= t("yesno.#{@guesthouse.allow_pets?}") %></dd>
  <dt><%= Guesthouse.human_attribute_name :usage_policy %>:</dt>
  <dd><%= @guesthouse.usage_policy %></dd>
  <dt><%= Guesthouse.human_attribute_name :check_in %>:</dt>
  <dd><%= guesthouse_format_time(@guesthouse.check_in) %></dd>
  <dt><%= Guesthouse.human_attribute_name :check_out %>:</dt>
  <dd><%= guesthouse_format_time(@guesthouse.check_out) %></dd>
  <dt><%= Address.model_name.human %>:</dt>
  <dd><%= address_description(@guesthouse.address) %></dd>
  <dt><%= Contact.model_name.human %>:</dt>
  <dd><%= contact_description(@guesthouse.contact) %></dd>
  <dt>Nota Média de Avaliação:</dt>
  <dd>
    <% if @guesthouse.reviews.any? %>
      <%= number_with_precision(@guesthouse.average_rating, precision: 2) %>
    <% else %>
      Nenhuma avaliação
    <% end %>
  </dd>
</dl>

<section id="recent-reviews">
  <h3>Avaliações Recentes</h3>
  <% if @recent_reviews.present? %>
    <% @recent_reviews.each do |review| %>
      <h5><%= guest_full_name(review.guest) %></h5>
      <dl>
        <dt><%= Review.human_attribute_name :rating %>:</dt>
        <dd><%= review.rating %></dd>
        <dt><%= Review.human_attribute_name :comment %>:</dt>
        <dd><%= review.comment %></dd>
      </dl>
    <% end %>

    <%= link_to 'Todas Avaliações', guesthouse_reviews_path(@guesthouse) %>
  <% else %>
    <p>Esta pousada ainda não possui nenhuma avaliação.</p>
  <% end %>
</section>

<section id="guesthouse-rooms">
  <h3>Quartos Disponíveis:</h3>

  <% if owner_signed_in? && current_owner == @guesthouse.owner %>
    <% if @guesthouse.rooms.any? %>
      <% @guesthouse.rooms.each do |room| %>
        <%= render room %>
      <% end %>
    <% else %>
      <p>Não existem quartos a serem exibidos.</p>
    <% end %>
  <% else %>
    <% if @guesthouse.rooms.active.any? %>
      <% @guesthouse.rooms.active.each do |room| %>
        <%= render room %>
      <% end %>
    <% else %>
      <p>Não existem quartos a serem exibidos.</p>
    <% end %>
  <% end %>
</section>