<h1>Detalhes da Reserva</h1>

<dl>
  <dt><%= Booking.human_attribute_name :code %>:</dt>
  <dd><%= @booking.code %></dd>
  <% if owner_signed_in? %>
    <dt><%= Guest.model_name.human %>:</dt>
    <dd><%= guest_full_name(@booking.guest) %></dd>
  <% elsif guest_signed_in? %>
    <dt><%= Guesthouse.model_name.human %>:</dt>
    <dd><%= link_to @booking.room.guesthouse.trading_name, guesthouse_path(@booking.room.guesthouse) %></dd>
  <% end %>
  <dt><%= Room.model_name.human %>:</dt>
  <dd><%= link_to @booking.room.name, room_path(@booking.room) %></dd>
  <dt><%= Booking.human_attribute_name :start_date %>:</dt>
  <dd><%= I18n.localize(@booking.start_date) %></dd>
  <dt><%= Booking.human_attribute_name :finish_date %>:</dt>
  <dd><%= I18n.localize(@booking.finish_date) %></dd>
  <dt><%= Booking.human_attribute_name :guests_number %>:</dt>
  <dd><%= @booking.guests_number %></dd>
  <dt><%= Booking.human_attribute_name :total_price %>:</dt>
  <dd><%= number_to_currency(@booking.total_price) %></dd>
  <dt><%= Booking.human_attribute_name :status %>:</dt>
  <dd><%= t(@booking.status) %></dd>
  <% if @booking.finished? %>
    <dt><%= Booking.human_attribute_name :payment_method %></dt>
    <dd><%= @booking.payment_method %></dd>
  <% end %>
</dl>

<% if @booking.review.present? %>
  <section id="review">
    <h2>Sua Avaliação</h2>

    <h3><%= Review.human_attribute_name :rating %>: <%= @booking.review.rating %></h3>
    <h3><%= Review.human_attribute_name :comment %></h3>
    <p><%= @booking.review.comment %></p>
  </section>
<% end %>

<% if @booking.pending? && (guest_signed_in? && @booking.start_date - Date.current >= 7 || owner_signed_in? && Date.current - @booking.start_date >= 2) %>
  <%= button_to 'Cancelar Reserva', canceled_booking_path(@booking) %>
<% end %>

<% if owner_signed_in? %>
  <% if @booking.pending? && Date.current >= @booking.start_date %>
    <%= button_to 'Realizar Check-In', ongoing_booking_path(@booking) %>
  <% end %>

  <% if @booking.ongoing? %>
    <%= link_to 'Realizar Check-Out', confirmed_check_out_booking_path(@booking) %>
  <% end %>
<% end %>

<% if @booking.finished? && @booking.review.nil? && guest_signed_in? %>
  <%= link_to 'Avaliar Estadia', new_booking_review_path(@booking) %>
<% end %>