<!DOCTYPE html>
<html>
  <head>
    <title>PousadariaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Pousadaria</h1>
      <% end %>

      <nav>
        <ul>
          <% if owner_signed_in? %>
            <li><%= current_owner.description %></li>
            <li><%= button_to 'Sair', destroy_owner_session_path, method: :delete %></li>
          <% else %>
            <li>Registre-se como: <%= link_to 'Hóspede', root_path %> | <%= link_to 'Proprietário', new_owner_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= alert %>
    <%= notice %>
    <%= yield %>
  </body>
</html>
