<!DOCTYPE html>
<html>
  <head>
    <title>PousadariaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Pousadaria</h1>
      <% end %>

      <%= form_with url: search_by_term_guesthouses_path, method: :get do |f| %>
        <%= f.label :query, 'Buscar Pousadas' %>
        <%= f.text_field :query %>
        <%= f.submit 'Buscar' %>
      <% end %>

      <nav>
        <ul>
          <% if owner_signed_in? %>
            <li>
              <% if current_owner.guesthouse %>
                <%= link_to 'Minha Pousada', my_guesthouse_path %>
              <% else %>
                <%= link_to 'Cadastrar Pousada', new_guesthouse_path %>
              <% end %>
            </li>
            <li><%= owner_description(current_owner) %></li>
            <li><%= button_to 'Sair', destroy_owner_session_path, method: :delete %></li>
          <% else %>
            <li>Registre-se como: <%= link_to 'Hóspede', root_path %> | <%= link_to 'Proprietário', new_owner_registration_path %></li>
            <li><%= link_to 'Entrar', new_owner_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= alert %>
    <%= notice %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
